
/* Gov't.ph Codes Transposed */
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto',sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    color: #222222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
}

a {
    color: #008cba;
    text-decoration: none;
    line-height: inherit;
}

section ul {
    display: block;
    margin: 0;
    padding: 0;
}

section li {
    display: block;
    font-size: 80%;
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 0.625rem;
}

section li a {
    color: #666;
    font-size: 16px;
}

section h4 { 
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

section p { 
    color: #666;
    font-size: 16px;
    line-height: 1.4; 
}

button, .button {
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 16px;
    background-color: #008cba;
    border-color: #007095;
    color: #fff;
    transition: background-color 300ms ease-out;
}

button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus { color: #fff; }
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus { background-color: #007095; }S
button.secondary, .button.secondary {
    background-color: #e7e7e7;
    border-color: #007095;
    color: #333333;
}
button:hover, button:focus, .button:hover, .button:focus { color: #fff; }
button:hover, button:focus, .button:hover, .button:focus { background-color: #007095; }
a:hover, a:focus { color: #0078a0; }
a:hover { cursor: pointer; }
@media only screen and (min-width: 40.063em) button, .button { display: inline-block; }

/* Search Bootsnippet */
#custom-search-input {
    margin:0 auto;
    padding: 0;
    padding-top: 15px;
    width: 80%;
}

#custom-search-input .search-query {
    padding-right: 20px \9;
    padding-left: 20px \9;
    margin-bottom: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 22px;
    padding: 20px 20px;
}
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    color:#000000;
    box-shadow: none;
}

.search-query:focus + button {
    z-index: 3;   
}

